@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0; 
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #111;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.lists {
  margin-top: -100px;
}
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer p {
  line-height: 1px;
}

.last {
  margin-bottom: 50px;
}


.loading{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: #000;
  display:flex;
  justify-content: center;
  align-items: center;
}